header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: rgb(75, 86, 57);
}
h3{
  color: white;
  margin-left: 20px;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px; 
  margin: 0;
  padding: 0;
  cursor: pointer;
  margin: 20px;
  color: white;
}